<%= form_for @bin, url: create_location_item_path  do |f| %>
  <% if @bin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bin.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @bin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.select :item_id, options_for_select(Item.all.map{|item|[item.title, item.id]}), :class => 'input-field' %>
  </div>

  <div class="field">
    <%= f.label :qty %>
    <%= f.number_field :qty %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>