<!DOCTYPE html>
<html>
  <head>
    <title>fifo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body ng-app="fifoApp">
    <div class = "row">
        <div class = "col s3 columnbgrnd" style="height: 100vh;">
            <img src="http://imageshack.com/a/img922/3479/R0MMsN.png" style="width:128px;height:128px">


            <ul>
              <li class="waves-effect waves-light btn sideLinks">
                <%= link_to 'Home', root_path %>
              </li>
              <li class="waves-effect waves-light btn sideLinks Edit">
                <%= link_to 'Edit account', edit_user_registration_path, target: '_self' %>
              </li>
              <li class="waves-effect waves-light btn sideLinks Orders">
                <%= link_to 'Orders', api_orders_path, target: '_self' %>
              </li>
              <li class="waves-effect waves-light btn sideLinks signout">
                <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %>
              </li>
              <li class="waves-effect waves-light btn sideLinks Location">
                <%= link_to 'Location', new_location_path, target: '_self' %>
              </li>
            </ul>
        </div>


        <div class = "col s9 red" style="height: 100vh;">

        </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>fifo's Front end</h1>

    <ui-view></ui-view>


    <section id="footer">
			<ul class="icons">
        <li><a href="https://github.com/hkarambizi" class="fa-github-square"><span class="label">Harry Karambizi
        </span></a></li>

				<li><a href="https://github.com/mtorres23" class="fa-github-square"><span class="label">Michael Torres</span></a></li>
        <li><a href="https://github.com/ddmilo" class="fa-github-square"><span class="label">Dan Mil</span></a></li>
        </ul>

        <p class="copyright">&copy; FiFo 2017</p>
				</section>


  </body>
</html>
