<!DOCTYPE html>
<html>
  <head>
    <title>fifo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body ng-app="fifoApp">

    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Home', root_path %>,
        <%= link_to 'Edit account', edit_user_registration_path, target: '_self' %>,
        <%= link_to 'Orders', api_orders_path, target: '_self' %>,
        <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %>,
        <%= link_to 'Location', new_location_path, target: '_self' %>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>fifo's Front end</h1>

    <ui-view></ui-view>


  </body>
</html>

<!-- <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <nav>
        <% if user_signed_in? %>
          <%= link_to 'Home', root_path %>,
          <%= link_to 'Edit account', edit_user_registration_path, target: '_self' %>,
          <%= link_to 'Orders', api_orders_path, target: '_self' %>,
          <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %>,
          <%= link_to 'Location', new_location_path, target: '_self' %>
        <% end %>
      </nav>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>



  <nav>
    <% if user_signed_in? %>
      <%= link_to 'Home', root_path %>,
      <%= link_to 'Edit account', edit_user_registration_path, target: '_self' %>,
      <%= link_to 'Orders', api_orders_path, target: '_self' %>,
      <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %>,
      <%= link_to 'Location', new_location_path, target: '_self' %>
    <% end %>
  </nav> -->
