<p id="notice"><%= notice %></p>

<div class="addNewevent">
<%= link_to 'Add New Event', new_client_event_path(client_id: @client.id), class: 'btn btn-primary btn-lg' %>
</div>

<div class="z-depth-1 indexEvent">
<h1>Events</h1>
</div>


<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Admin</th>
      <th>Prev year event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.address %></td>
        <td><%= event.latitude %></td>
        <td><%= event.longitude %></td>
        <td><%= event.admin_id %></td>
        <td><%= event.prev_year_event_id %></td>
        <td><%= link_to 'Show', client_event_path(client_id: event.client_id, id: event.id), data: {target: "#modal2"} %></td>
        <td><%= link_to 'Edit', edit_event_path(event.id) %></td>
        <td><%= link_to 'Destroy', event_path(event.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="carousel">
  <% @events.each do |event| %>
    <a class="carousel-item" href="/clients/<%= @client.id %>/events/<%= event.id %>"><%= event.title %><img src="http://imageshack.com/a/img924/5798/pln0OT.png"></a>
    <% end %>
    <a class="carousel-item" href="#">Verizon Wireless Amphitheatre<img src="http://imageshack.com/a/img922/8954/sqNDhI.jpg"></a>
    <a class="carousel-item" href="#">Shaky Beats<img src="http://imageshack.com/a/img922/7828/R33rnW.jpg"></a>

  </div>

<br>


<!--
<a class="waves-effect waves-light btn sideLinks orders" href="#modal1">Orders</a> -->
