<%= link_to 'Edit', edit_event_path(@event), class:'btn waves-effect waves-light' %>
<%= link_to 'Back', account_events_path(@event.account), class:'btn waves-effect waves-light' %>
<div class='event-show center'>
  <p id="notice"><%= notice %></p>
  <div class="event-name">
    <h3>
      <%= @event.title %>
    </h3>
    <span>for <%= link_to @event.customer.name, account_customer_path(@event.account, @event.customer) %></span>
    <% if @event.start_date and @event.end_date %>
    <p>
      <strong>
      <%= @event.start_date.strftime("%m/%d/%Y") %> - <%= @event.end_date.strftime("%m/%d/%Y") %>
      </strong>
    </p>
    <%end%>
    <%= render 'eventmenu', event: @event %>
  </div>
</div>
