

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @event.admin_id %>
</p>

<p>
  <strong>Prev year event:</strong>
  <%= @event.prev_year_event_id %>
</p>





<div class="card">
  <div class="container">



    <table class="centered highlighted">
        <thead>
    <tr>
      <th>Title</th>
      <th>Access Code</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Admin</th>
      <th>Current Order</th>
      <th>Last Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.locations.each do |location| %>
      <tr>
        <td><%= link_to location.title, event_location_path(event_id: @event.id, id: location.id) %></td>
        <td><%= location.access_code %></td>
        <td><%= location.address%></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= location.event.title %></td>
        <td><%= location.current_order_id %></td>
        <td><%= location.prev_order_id %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<%= link_to 'Add Location', "#modal1", :class => "btn btn-success btn-lg", "data-toggle" => "modal" %>
<br>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', client_events_path(@event.client) %>
