<%= link_to 'Edit', edit_event_path(@event), class:'btn waves-effect waves-light' %>
<%= link_to 'Back', account_events_path(@event.account), class:'btn waves-effect waves-light' %>
<%= link_to 'Orders', event_orders_path(@event), class:'btn waves-effect waves-light right' %>
<%= link_to 'Staff', event_assignments_path(@event), class:'btn waves-effect waves-light right' %>
<div id="feed-icon" class="waves-effect waves-light right">
<%= link_to event_feed_path(@event) do %>
    <%= image_tag 'https://image.flaticon.com/icons/png/512/409/premium/409023.png', id: 'walkie-icon' ,alt: 'walkie talkie orders feed'%>
<% end %>
  <p>feed</p>
</div>

<div class='event-show'>
<p id="notice"><%= notice %></p>
<div class="center">
<h3>
  <%= @event.title %>
</h3>
<span>for <%= link_to @event.customer.name, account_customer_path(@event.account, @event.customer) %></span>

<p>
  <strong>
  <%= @event.start_date %> - <%= @event.end_date %>
  </strong>
</p>
</div>

<h4 class='center loc-header'>Locations</h4>
<hr>
  <%= link_to 'Add Location', new_event_location_path(@event), class: 'btn btn-success btn-lg loc-btn' %>

<div class="card">
  <div class="container locations-content">
    <table class="centered highlighted">
        <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Latitude</th>
      <th >Longitude</th>

    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.title, event_location_path(event_id: @event.id, id: location.id) %></td>
        <td><%= location.loc_type %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<br>
  </div>
</div>


</>
