<h3>Edit Order #<%= @order.id %></h3>
<%= @location.title %>

<div>
    <%= form_for @order, url: event_location_order_path(id: @order.id) do |f| %>
    <%= f.label :message %>
    <br>
    <%= f.text_field :message %>


    <button class='btn' action='<%= f.submit  %>'>Update Order
    </button>
    <% end %>
</div>
