
<%# <%= link_to "New Order", new_event_location_order_path , class: 'btn btn-primary btn-lg' %> %>


<div class ='orders-wrapper'>
  <table class = 'centered'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Order Created</th>
        <th>Processed at</th>
        <th>Delivery Date</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order|  %>
        <tr>
          <td><%= link_to order.id, event_location_order_path(order.id) %></td>
          <td><%=order.message%></td>
          <td><%=order.created_at.strftime("%D  %I:%M %p") %></td>
          <td><%=order.updated_at.strftime("%D %I:%M %p") %></td>
          <td><%=order.delivery_date%></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<a class="waves-effect waves-light btn sideLinks orders" href="#modal1">Orders</a>

<script>
$(document).ready(function() {
 document.querySelector('.waves-effect waves-light btn sideLinks orders').click();
});
</script>
