<%= link_to 'Back To Orders', location_orders_path(@location.event, @location), class: 'right btn waves-effect waves-light' %>
<h4>Create New Order for <%=@location.title %></h4>
<%= form_for [@location,@order], url: new_location_order_path do |f| %>
<div>

  <div class="form_row">
      <%= f.label :role %>
      <%= f.select(:role, ['transfer'], :required => true) %>
  </div>

<div class="form_row">
  <%= f.label :message, "Memo" %>
  <%= f.text_field :message %>
  </div>

</div>






  <button class='btn' action='<%= f.submit  %>'>
    Create Order
  </button>
  <% end %>

</div>




