<h5 class="display-2 center">Location: <%= @location.title %></h5>
<header>
  <% if @can_edit %>
    <%= link_to 'Request New Item', new_event_location_order_transaction_path(order_id: @order.id), class: 'center btn waves-effect waves-light' %>
    <%= link_to 'Edit Order', edit_event_location_order_path(id: @order.id), class: 'center btn waves-effect waves-light' %>
  <%end%>
 <%= link_to 'Back To Location', event_location_path(event_id: @location.event_id, id: @location), class: 'right btn waves-effect waves-light' %>
</header>

<% if @can_submit %>
<%= button_to 'Submit Request', order_submit_path(@location.event, @location, @order), method: :post, class: 'right btn waves-effect waves-light' %>
<%end%>

<div class="card center order-header">
    <h5> Order #<%= @order.id %> - <%= @order.role.capitalize() %> <span class="status <%= @order.status ? @order.status : "new" %>"><%= @order.status ? @order.status : "new" %></span></h5>
    <bold> Message: <%= @order.message %></bold>
</div>
<% if @order.transactions.length > 0 %>
<div class="card">
		<table class="centered highlight">
  			<thead>
      <th>Item #</th>
      <th>Status</th>
      <th colspan="3">Item Title</th>
      <th>Qty</th>
      <th>From</th>
      <th>To</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>

        <td><span class="status <%= transaction.status %>"><%= transaction.status %></span></td>

        <td colspan="3"><%= link_to transaction.item.product.name, event_location_order_transaction_path(@event, @location, @order, transaction) %></td>

        <td><%= transaction.qty %></td>

        <td>
        <% if transaction.origin_id %>
        <%= link_to Location.find(transaction.origin_id).title, location_inventory_path(transaction.origin_id) %>
        <% else %>
        <span>Searching..</span>
        <% end %>
        </td>

        <td>
          <% if transaction.dest_id %>
            <%= link_to Location.find(transaction.dest_id).title, location_inventory_path(transaction.dest_id)%>
          <% else %>
            <span>Searching...</span>
          <% end %>
        </td>

        <td>
          <% if @order.role == 'transfer' %>
            <% if !transaction.origin_id.nil? and !transaction.dest_id.nil? and ["pending", "in_progress"].include?(transaction.status) %>
              <span> Reserved <i class="fa fa-check-square-o" aria-hidden="true"></i></span>
            <% elsif transaction.origin_id.nil? %>
              <%= link_to find_items_path(@location.event, @location, @order, transaction), class: "zwaves-effect waves-light btn" do %>
              Find Items<i class="fa fa-cube"></i>
            <% end %>
          <% end %>
        <% end %>
        </td>

        <td>
          <%= link_to edit_event_location_order_transaction_path(@event, @location, @order, transaction) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <%end%>
        </td>

        <td>
          <%= link_to event_location_order_transaction_path(@event, @location, @order, transaction), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
<% end %>

<% if !@no_confirm %>
  <%= link_to @transactions.length < 1 ? "cancel order" : "verify order", order_verify_path(@location.event, @location, @order), method: :post, class: 'btn waves-effect waves-light' %>
  <% end %>





