<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
      <tr>
        <th>Item Name</th>
        <th>UPC</th>
        <th>Description</th>
      </tr>
    </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.title, client_item_path(id: item.id ) %></td>
        <td><%= item.upc %></td>
        <td><%= item.description%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_client_item_path %>
