<p id="notice"><%= notice %></p>

<h1>Inventory</h1>

<%= link_to 'Back To Location', event_location_path(event_id: @location.event_id, id: @location), class: 'center btn-large waves-effect waves-light' %>

<table>
  <thead>
      <tr>
        <th>Quantity</th>
        <th>Item Name</th>
        <th>Units</th>
        <th></th>
      </tr>
    </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= Product.find(item.product_id).unit * item.quantity %></td>
        <td><%= Product.find(item.product_id).name %></td>
        <td><%= Product.find(item.product_id).unit %> X <%= item.quantity %></td>
        <td><img src='<%= Product.find(item.product_id).image_url %>'></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_location_item_path %>
