<p id="notice"><%= notice %></p>

<h1>Inventory</h1>

<%= link_to 'Back To Location', event_location_path(event_id: @location.event_id, id: @location), class: 'center btn-large waves-effect waves-light' %>
<% if @pickup_orders.length > 0%>
<%= link_to 'Pickup Order', order_pickup_path(@location.event, @location), class: 'right btn-large waves-effect waves-light' %>
<%end%>
<table>
  <thead>
      <tr>
        <th>Quantity</th>
        <th colspan="2">Item Name</th>
        <th></th>
      </tr>
    </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td colspan="2"><%= Product.find(item.product_id).name %></td>
        <td><img src='<%= Product.find(item.product_id).image_url %>'></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_location_item_path %>
