<%= form_for [@event, @location, @order, @transaction] do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @is_new %>
    <div class="form_row">
          <%= f.label :item_id %>
          <%= f.select(:item_id, options_for_select(Product.all.map{|product|[product.name, product.id]}), :include_blank => true, :required => true) %>
    </div>
  <% else %>
    <div class="form_row">
          <%= f.label :item_id %>
          <%= f.select(:item_id, options_for_select(Product.all.map{|product|[product.name, product.id]}, [@transaction.item.product.name, @transaction.item.product_id]), :selected => f.object.item_id, :required => true) %>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :qty, '# of units' %>
      <%= f.number_field :qty %>
    </div>

  <button class='btn' action='<%= f.submit  %>'>Submit</button>

<% end %>

