<p id="notice"><%= notice %></p>

<h4>Find <%= @transaction.item.product.name %> for Order: <%= @transaction.order_id %></h4>

<%= link_to 'Back', event_location_order_path(@event, @location, @order), class: 'center btn waves-effect waves-light' %>


<table class="centered highlight">
  <thead>
      <tr>
        <th>Location</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Reserved</th>
        <th>Available</th>
        <th>-</th>
      </tr>
    </thead>

  <tbody>
    <% @matching_items.select {|i| i.location[:hidden] != true}.each do |item| %>
   <%  if (item.quantity - @transaction.qty > 0) and (item.location_id != @order.location_id) %>
      <tr>
        <td><%= item.location.title %></td>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= @reserved = @pending_transactions.select {|t| t[:origin_id] === item.location_id}.reduce(0) {|sum, i| sum + i[:qty]} %></td>
        <td><%= @available = item.quantity - @reserved %></td>
        <td>
        <% if @available > @transaction.qty %>
          <%= link_to 'Reserve', item_reserve_path(@location, @order, @transaction, item), class: 'center btn-danger waves-effect waves-light' %>
        <%end%>
        </td>
      </tr>
      <% end %>
      <tr>
      <td colspan="6">
      <p> 0 available at <%= link_to item.location.title, event_location_path(item.location.event, item.location) %></p>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
