<p id="notice"><%= notice %></p>

<h4>Products</h4>

<table>
  <thead>
      <tr>
        <th>Name</th>
        <th>Unit Amount</th>
        <th>Item Cost</th>
        <th>Cost per Unit</th>
        <th>UPC</th>
        <th>Description</th>
      </tr>
    </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, account_product_path(id: product.id ) %></td>
        <td><%= product.units_per_item %></td>
        <td><%= product.highest_recorded_price %></td>
        <td><%= product.cost_per_unit %></td>
        <td><%= product.upc %></td>
        <td colspan="2"><%= product.description%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_account_product_path, class:'btn waves-effect waves-light' %>
