<%= form_for [@event,@location] do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </fieldset>

  <h4>Enter either address or coordinates</h4>
<div class="col-sm-8">
  <a href="#modal1" id="find-on-map">Find on the map <%= image_tag('marker.png') %></a>
</div>

  <%= f.submit 'Add!', class: 'btn btn-primary' %>
<% end %>
