<div class="modal-options">

</div>

<%= form_for [@event,@location] do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <div class="form-control">
    <%= f.label :loc_type, "Type" %><br />
    <%= f.select :loc_type, options_for_select(location_types), :include_blank => true, :class => 'input-field' %>
  </div>
  </fieldset>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>

