<header><h1 class="display-4"><%= @location.title %></h1></header>

<p>Address: <%= @location.address %></p>
<p>Coordinates: <%= @location.latitude %> <%= @location.longitude %></p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>