<header><h1 class="display-4"><%= @location.title %></h1></header>

<p>Address: <%= @location.address %></p>
<p>Coordinates: <%= @location.latitude %> <%= @location.longitude %></p>

<%= link_to 'Edit', edit_event_location_path(event_id: @location.event_id, id: @location.id) %> |
<%= link_to 'Back', event_path(@event) %>

<%= link_to 'Orders',location_orders_path(@location.id) %>
