<%= link_to 'Edit', edit_event_location_path(event_id: @location.event_id, id: @location.id), class: ' btn waves-effect waves-light' %>
<%= link_to 'Back', event_path(@event), class: ' btn waves-effect waves-light' %>
<%= link_to 'Staff', location_assignments_path(@event, @location), class:'btn waves-effect waves-light right' %>
<%= link_to 'Orders', location_orders_path(event_id: @location.event_id, location_id: @location.id), class: 'right btn waves-effect waves-light' %>
<%= link_to 'Inventory', location_inventory_path(location_id: @location.id), class: 'right btn waves-effect waves-light' %>

<header><h4 class="display-4 center"><%= @location.title %></h4></header>
<hr>
<h4 class="display-4 center"><%= @location.loc_type %></h4>

<p>Address: <%= @location.address %></p>
<p>Coordinates: <%= @location.latitude %> <%= @location.longitude %></p>
